.pag_main {
 width: 100%;
 height: 100%;
}
.pag_wrap_block{
  display: grid;
  grid-template: 1fr/ 71px 1fr ;
  margin-bottom: 30px;
  /* display: flex;
  flex-direction: row; */
}
.pag_game_cards_row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
}
.pag_game_container {
  background-color: #6b7a128c;
 padding-bottom: 60px; 
 
}


.pag_main_choice_cont {
  padding: 20px 0px 0px 0px;
  display: grid;
  grid-template: 1fr/minmax(300px, 2fr) minmax(150px, 1fr);
}

.pag_main_dots {
  align-self: center;
  justify-self: center;
}

/* ------------------------- */
.pag_pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pag_pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
}

.pag_dots_pagin a {
  width: 15px;
  height: 15px;
  background-color: #176459;
  border-radius: 100%;
  padding: 0;
  margin: auto 5px;
  text-align: center;
  position: relative;
}

.pag_dots_pagin .pag_is_active {
  background-color: #323232;

}

.pag_slide_arrow {
  align-self: center;

}

.pag_slide_arrow a {
  width: 60px;
  height: 60px;
  color: #fff;
  font-weight: bold;

  background-color: #6b7a128c;
  text-decoration: none;
  font-size: 35px;
}

.pag_slide_arrow .pag_is_active {
  background-color:#323232;
}
/* ------------------------ */
.pag_block {
  width: 71px;
  height: 100%;
  background-color:   #6b7a128c;
  position: relative;
}
.pag_bl{
  width: 71px;
  /* height: 918px; */
  background-color:  #6b7a128c;
  position: relative;
}
.pag_block:before {
  content: '';
  position: absolute;
  left: -15px;
  top: -53px;
  width: 35px;;
  height:35px;
  background-color :rgb(255, 255, 255);
  -webkit-transform-origin:0 100%;
  -ms-transform-origin:0 100%;
  transform-origin:0 100%;
  -webkit-transform: rotate(65deg);
  -ms-transform: rotate(65deg);
  transform: rotate(65deg);
  }


/* ---------------------- */
.pag_game_cards {
  display: grid;
   position: relative;
  grid-template: 1fr/ 1fr 1fr ;
  /* padding: 20px 35px 0px; */
}
.pag_card {
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.pag_game_rating {
 width: 81px;
height: 80px;
position: absolute;
top: 0px;
    right: 3%;
line-height: 80px;
background-color: #dafa258c;
color: #000000;
font-size: 30px;
font-weight: 500;
text-align: center;
}
.pag_page_img {
  justify-self: center;
}
.pag_game_cont_box {
  display: flex;
  flex-direction: column;
  padding: 20px;
 height: 100%;
  justify-content:space-evenly;

}
.pag_game_name {
  color: #010101;
font-size: 30px;
font-weight: 700;
line-height: 30px;

max-width: 150px;
}
.pag_descrip_name {
  color: #000000;
font-size: 14px;
font-weight: 300;
margin-top: 10px;
margin-bottom: 10px;
}
.pag_descrip_name_green {
   color: #2a9657;
}
.pag_game_text {
color: #000000;
font-size: 16px;
font-weight: 300;
line-height: 24px;
text-align: left;
width: 90%;
}
.pag_game_ico_box {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  width: 35%;
}
.pag_game_num {
  color: #272727;
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
.pag_main_row {
  display: flex;
  flex-direction: column;
}

.pag_wrap_main_line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pag_sort_row {
  display: flex;
  flex-direction: row;
  padding-bottom: 30px;
  border-top: 2px solid #ebebeb;
}
.pag_main_decor {
position: relative;
}
.pag_main_decor_img {
position: absolute;
transform: translate(-2%, 10%);
 max-width: 100%;
}
.pag_sort_name {
   color: #272727;
  font-weight: 300;
}
.pag_popular {
color: #656565;
font-weight: 300;
background-color: white;
border-radius: 3px;
border: none; 
}
.pag_new {
color: #656565;
font-weight: 300;
border-radius: 3px;
background-color: white;
border: none; 
}
.pag_popular:hover,
.pag_new:hover {
 color: #33282c;
background-color: #f2ca5b;
}
.pag_news{
  display: flex;
  flex-direction: row;
 
  align-items: flex-end;
}
.pag_news_game {
  justify-content: center;
}
.pag_main_name {
text-transform: uppercase;
color: #ffffff;
font-weight: 800;
margin-top: 30px;
/* margin-left: 10%;
margin-top: 17%; */
}
.pag_game_ico_box {
   margin-top: 20px;
} 
.pag_name_noties_box { 
  /* width: 105px; */
margin: 0 auto;
margin-top: 10px;
height: 25px; 
/* margin-left: 2px; */
border-bottom: 1px dotted #ffffff; 
font-size: 18px;
color: #ffffff;
font-weight: 300;
}
.pag_name_noties_box:hover {
  color:#f7d54a;
border-bottom: 1px dotted #f7d54a; 
}

@media(max-width:920px) {
 .pag_game_cards {
   display:block;
  
 }
}